body 
{ background-color: rgb(98, 206, 170);
    margin: 0%;

}

 
  header {
    background-color: purple;
    border: solid 3px black;
    padding: 0px;
    margin: 0px;
}






h1
{
text-align: center;


}
h1 
{
   font-size: 30px;
   font-family: Courier;
   margin: auto;
   color:black; 
   
}  







nav 
{background-color: antiquewhite;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

a href
{
    text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h2
    {color:black;
    text-align: center;
    align-items: center;


}

  

li
{text-align: center;
    list-style-type: none;
    color: black;
    font-size: x-large;


}






h1 
{
   font-size: 30px;
   font-family: Courier;
   margin: auto;
   color:black; 
   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 90px;
    width: 40%;
    border: solid; color:black;
}

h3
{text-align: center;
color: black;
margin-top: 100px;
margin-bottom: 40px;
}

h4
{text-align: left;



}

   





    















        

    
    

